<h1>Admin</h1>

<form action="">
    <div class="row">
        <div class="col-auto">
            <label for="doc"> Select Document </label>
        </div>
        <div class="col-auto">
            <select name="document" id="doc" [(ngModel)]="selected_template">
                <option *ngFor="let template of templateList" value="{{ template.TemplateId }}"> {{ template.TemplateName }} </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <label for="user"> Select User </label>
        </div>
        <div class="col-auto">
            <select name="user" id="user"  [(ngModel)]="selected_user">
                <option *ngFor="let user of userList" value="{{ user.UserId }}"> {{ user.UserName }} </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label for="access"> Select Access Level </label></div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <input type="checkbox" id="read" name="access[]" value="read" [(ngModel)]="read_access">
                    <label for="vehicle1"> Read </label>
                </div>
                <div class="col-auto">
                    <input type="checkbox" id="write" name="access[]" value="write"  [(ngModel)]="write_access">
                    <label for="vehicle2"> Read & Write</label>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" [disabled]="disabled" (click)="updateControl()">Update</button>
</form>


<table id="users" class="table table-bordered my-1">
    <tr class="thead-light">
      <th>Template Name</th>
      <th>User name</th>
      <th>Write Access</th>
    </tr>
  
    <tr *ngFor = "let row of user_matrix">
      <td>
        {{row.TemplateName}}
      </td>
      <td>
        {{row.UserName}}
      </td>
      <td>
        {{row.isWrite}}
      </td>
    </tr>
  
  </table>




<h1>Make Admin</h1>

<form action="">
    <div class="row">
        <div class="col-auto">
            <label for="user"> Select User To Make Admin </label>
        </div>
        <div class="col-auto">
            <select name="user" id="user"  [(ngModel)]="selected_user_admin">
                <option *ngFor="let user of userList" value="{{ user.UserId }}"> {{ user.UserName }} </option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="disabled" (click)="updateControl()">Make Admin</button>
</form>

