<div class="row">
  <div class="col-auto">
    <label for="doc"> Select Document Type </label>
  </div>
  <div class="col-auto">
    <select name="document" id="doc" [(ngModel)]="selected_templateType">
      <option *ngFor="let template of templateTypeList" value="{{ template.TemplateTypeID }}"> {{ template.TemplateTypeName }} </option>
    </select>
  </div>
</div>

<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>

<form action="">
  <div class="row">
      <div class="col-auto">
          <label for="doc"> Select Document </label>
      </div>
        <div class="col-auto">
          <select name="document" id="doc" [(ngModel)]="selected_template" (change)="getVerions()">
              <option *ngFor="let template of templateList" value="{{ template.TemplateId }}"> {{ template.TemplateName }} </option>
          </select>
      </div>
  </div>

  <div class="row">
      <div class="col-auto">
          <label for="user"> Select Version </label>
      </div>
      <div class="col-auto">
          <select name="user" id="user"  [(ngModel)]="selected_version">
              <option *ngFor="let ver of versionList" value="{{ ver }}"> {{ ver }} </option>
          </select>
      </div>
  </div>
  <div class="row">
      <div class="col-auto">
          <label for="access"> Select Clause </label>
      </div>
      
      <div class="col-auto">
          <select name="user" id="user"  [(ngModel)]="selected_clause">
              <option *ngFor="let ver of clauseList" value="{{ ver.ContentId }}"> {{ ver.ContentName }} </option>
          </select>
      </div>
  </div>

  <!-- <button class="btn btn-primary" [disabled]="disabled" (click)="updateControl()">Update</button> -->
</form>

<button type="button" class="btn btn-success" (click)="showFile()">Get Contract File</button>
<button type="button" style="margin-left:20px" class="btn btn-success" (click)="EditFile()">Edit Contract File</button>
<button type="button" style="margin-left:20px" class="btn btn-success" (click)="EditContent()">Edit Content Controls</button>
<button type="button" style="margin-left:20px" class="btn btn-success" (click)="CheckOutFile()">CheckOut File</button>
<button type="button" style="margin-left:20px" class="btn btn-secondary" (click)="SyncFile()" disabled>Sync Changes</button>
<label style="margin-left:20px"><b>Risk Analysis Factor % :</b></label> <label style="margin-left:10px">0</label>
<br />
<div *ngIf="!model.Edit && model.first" style="border:3px solid black" [innerHTML]="theHtmlString"></div>

<ckeditor *ngIf="model.Edit" [(ngModel)]="model.editorData" [readOnly]="model.readOnly"></ckeditor>

<form action="">
  <div class="row" *ngIf="model.editContent">
    <div class="col-auto">
      <label for="doc"> Select Content Control </label>
    </div>
    <div class="col-auto">
      <select name="document" id="doc" [(ngModel)]="selected_ContentControl" (change)="getContentControlDesc()">
        <option *ngFor="let template of contentControl" value="{{ template.Tag }}"> {{ template.Tag }} </option>
      </select>
    </div>
    <div>
      <label>Content Desc</label>
      <input type="text" placeholder="" required="" [(ngModel)]="contentControldesc" value="" />
    </div>
  </div>
  </form>
